<p id="notice"><%= notice %></p>

<p>
  <strong>Name :</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>D.O.B. :</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Age :</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Client :</strong>
  <%= @dog.client.name %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
