<p id="notice">
  <%= notice %>
</p>

<h1>
  Client
</h1>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<h2>
  Dog
</h2>
<p>
  <strong>Name:</strong>
  <%= @client.dog_name %>
</p>

<p>
  <strong>D.O.B:</strong>
  <%= @client.dog_dob %>
</p>

<p>
  <strong>Age:</strong>
  <%= AgeCalculator.new(@client.dog_dob).age %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
