<%= form_with(model: walk, local: true) do |form| %>
  <% if walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(walk.errors.count, "error") %> prohibited this walk from being saved:</h2>

      <ul>
      <% walk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Client Name:</h4>
    <%= collection_select(:walk, :client_id, Client.all, :id, :name, prompt: "Please select a Client") %>
  </div>

  <div class="field">
    <h4>Date:</h4>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="field">
    <h4>Walk distance:</h4>
    <%= form.number_field :distance, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %>       
