<%= form_with(model: walk, local: true) do |form| %>
  <% if walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(walk.errors.count, "error") %> prohibited this walk from being saved:</h2>

      <ul>
      <% walk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript">
  jQuery(function() {
    $('#dogs_drop').hide();
    var dogs;
    dogs = $('#dogs_drop select').html();
    console.log(dogs);
    return $('#client_drop select').change(function() {
      if ($('#client_drop select').val()==""){
        $('#dogs_drop').hide();
      } else {
        $('#dogs_drop').show();
        var client, options;
        client = $('#client_drop :selected').text();
        options = $(dogs).filter("optgroup[label=" + client + "]").html();
        console.log(options);
        if (options) {
          return $('#dogs_drop select').html(options);
        } else {
          return $('#dogs_drop select').empty();
        }
      }
    });
  });
</script>

  <div class="dropdown">
    <div class="field" id="client_drop">
      <%= form.label :client_id, 'Client' %>
      <%= form.collection_select :client_id, Client.all.order(:name), :id, :name, include_blank: true && 'Select a Client' %>
    </div>

    <div class="field" id="dogs_drop">
      <%= form.label :dog_id, 'Dog' %>
      <%= form.grouped_collection_select(:dog_id, Client.all, :dogs, :name, :id, :name, include_blank: true && 'Select a Dog') %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Date of walk:' %>
    <%= form.datetime_select :datetime, id: :walk_datetime %>
  </div>

  <div class="field">
    <%= form.label 'Distance in km:' %>
    <%= form.number_field :distance, id: :walk_distance, value: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
