<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= Client.find(params[:id]).name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @walk.datetime %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @walk.distance %>
</p>

<p>
  <strong>Price for walk:</strong>
  $<%= @walk.distance * 3.4 %>
</p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Back', walks_path %>
