<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @walk.client.name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @walk.datetime.strftime("%A, %y %B %Y") %>
</p>

<p>
  <strong>Distance:</strong>
  <span><%= @walk.distance %> km</span>
</p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Back', walks_path %>
