<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @walk.client %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @walk.datetime %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @walk.distance %>
</p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Back', walks_path %>
